
.vs/*
.vscode/*
Library/*
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
P2_Portal.sln
UserSettings/*
Logs/*
obj/*
3DP2_CostaAlejandro_DuroManuel.sln
PortalAssembly.csproj
Assets/Scripts/PortalAssembly.asmdef
Assets/Scripts/PortalAssembly.asmdef.meta
Assets/Tests.meta
Assets/Tests/item_utils.cs
Assets/Tests/item_utils.cs.meta
Assets/Tests/Tests.asmdef
Assets/Tests/Tests.asmdef.meta
Tests.csproj
Assets/Scripts/ItemUtils.cs
Assets/Scripts/ItemUtils.cs.meta
Assets/Scripts/IPlayerTest.cs
Assets/Scripts/IPlayerTest.cs.meta
Assets/NSubstitute.dll
Assets/NSubstitute.dll.meta
